@{
    @model System.String
}

<h3>Hello! Type your name and select a language and be greeted!</h3>

@if (Model != null)
{
    <br />
    <p>@Model.ToString()</p>
}
<form method="post">
    <div class="form-group">
        <label for="name">Name: </label>
        <input class="form-control" name="name" id="name" />
    </div>

    <div class="form-group">
        <select name="lang" class="form-control">
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="sp">Spanish</option>
            <option value="py">Python</option>
            <option value="c">C#</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>

@if (ViewBag.counter != null)
{
    if (!ViewBag.Equals(0))
    {
        <p>You've submitted this form correctly @ViewBag.counter times!</p>
    }
}